In [6]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [7]:
import core
import pandas as pd
import numpy as np

In [8]:
all_df = pd.read_csv("all.csv")
df_noreg = all_df[all_df["is_regularized"] == False]
df_noreg["is_big_task"] = False
df_noreg["dataset"] = df_noreg["dataset"].replace(
    {
        "cifar100_fixed": "cifar100",
        "imagenet100_subset_kaggle": "imagenet100",
    }
)

/var/folders/7p/77w4_2b565n0b8phw5c6dvtm0000gp/T/ipykernel_57596/3821391423.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_noreg["is_big_task"] = False
/var/folders/7p/77w4_2b565n0b8phw5c6dvtm0000gp/T/ipykernel_57596/3821391423.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_noreg["dataset"] = df_noreg["dataset"].replace(

In [23]:
finetuning_ewc_resnet, failed_runs, not_finished_runs = core.get_df_cl("01.20", 8)
len(failed_runs)
len(not_finished_runs)
finetuning_ewc_resnet.shape


finetuning_ewc_resnet = finetuning_ewc_resnet[
    (finetuning_ewc_resnet["network"].str.contains("resnet"))
    & (finetuning_ewc_resnet["approach"].isin(["finetuning", "ewc"]))
]

1

0

(119, 86)

In [24]:
finetuning_ewc_convnext, failed_runs, not_finished_runs = core.get_df_cl("01.20", 8)
len(failed_runs)
len(not_finished_runs)
finetuning_ewc_convnext.shape

finetuning_ewc_convnext = finetuning_ewc_convnext[
    (finetuning_ewc_convnext["network"].str.contains("convnext"))
    & (finetuning_ewc_convnext["approach"].isin(["finetuning", "ewc"]))
]

1

0

(119, 86)

In [11]:
big_all_or_lwf_replay, failed_runs, not_finished_runs = core.get_df_cl("01.28", 8)
len(failed_runs)
len(not_finished_runs)
big_all_or_lwf_replay.shape

big_all = big_all_or_lwf_replay[big_all_or_lwf_replay["is_big_task"]]
lwf_replay = big_all_or_lwf_replay[~big_all_or_lwf_replay["is_big_task"]]

2

15

(139, 86)

In [12]:
reg_fetril, failed_runs, not_finished_runs = core.get_df_pycil(
    "pycil-01.28-seed-fetril"
)
len(failed_runs)
reg_fetril.shape
noreg_fetril, failed_runs, not_finished_runs = core.get_df_pycil("pycil-01.27-new")
len(failed_runs)
noreg_fetril.shape
noreg_fetril = noreg_fetril[noreg_fetril["approach"] == "fetril"]

fetril = pd.concat([reg_fetril, noreg_fetril], axis=0)

big_task_fetril, failed_runs, not_finished_runs = core.get_df_pycil(
    "pycil-01.28-big_task"
)
len(failed_runs)
big_task_fetril.shape

0

(30, 38)

38

(54, 41)

0

(24, 38)

In [27]:
pivot_table = pd.pivot_table(
    finetuning_ewc_resnet[finetuning_ewc_resnet["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100       imagenet100
num_tasks                       5  10 20          10 20
approach   is_regularized
ewc        True                  0  0  0           0  0
finetuning True                  0  0  0           0  0

In [28]:
pivot_table = pd.pivot_table(
    finetuning_ewc_convnext[
        finetuning_ewc_convnext["network"].str.contains("convnext")
    ],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100       imagenet100
num_tasks                       5  10 20          10 20
approach   is_regularized
ewc        True                  0  0  0           0  0
finetuning True                  0  0  0           0  0

In [15]:
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100 imagenet100
num_tasks                        6           6
approach   is_regularized
ewc        False                 0           0
           True                  0           0
finetuning False                 0           0
           True                  0           0
lwf        False                 0           0
           True                  0           0
replay     False                 0           0
           True                  0           0

dataset                   cifar100 imagenet100
num_tasks                        6           6
approach   is_regularized
ewc        False               0.0         0.0
           True                0.0         0.0
finetuning False               0.0         0.0
           True                0.0         0.0
lwf        False               0.0         NaN
           True                0.0         NaN
replay     False               0.0         0.0
           True                0.0         0.0

In [16]:
pivot_table = pd.pivot_table(
    lwf_replay[lwf_replay["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    lwf_replay[lwf_replay["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                 cifar100       imagenet100
num_tasks                     5  10 20          10 20
approach is_regularized
lwf      True                  0  0 -2           0  0
replay   True                  0  0  0           0  0

dataset                 cifar100           imagenet100
num_tasks                     5    10   20          10
approach is_regularized
lwf      True                0.0  0.0  0.0         NaN
replay   True                0.0  0.0  0.0         0.0

In [17]:
pivot_table = pd.pivot_table(
    df_noreg[df_noreg["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    df_noreg[df_noreg["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100       imagenet_subset_kaggle
num_tasks                       5  10 20                     10 20
approach   is_regularized
ewc        False                 0  0  0                      0  0
finetuning False                 0  0  0                      0  0
lwf        False                 0  0  0                      0  0
replay     False                 0  0  0                      0  0

dataset                   cifar100       imagenet_subset_kaggle
num_tasks                       5  10 20                     10 20
approach   is_regularized
ewc        False                 0  0  0                      0  0
finetuning False                 0  0  0                      0  0
lwf        False                 0  0  0                      0  0
replay     False                 0  0  0                      0  0

In [18]:
pivot_table = pd.pivot_table(
    fetril[fetril["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    fetril[fetril["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                 cifar100       imagenet100
num_tasks                     5  10 20          10 20
approach is_regularized
fetril   False                 0  0  0           0  0
         True                  0  0  0           0  0

dataset                 cifar100       imagenet100
num_tasks                     5  10 20          10 20
approach is_regularized
fetril   False                 0  0  0           0  0
         True                  0  0  0           0  0

In [19]:
pivot_table = pd.pivot_table(
    big_task_fetril[big_task_fetril["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    big_task_fetril[big_task_fetril["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                 cifar100 imagenet100
num_tasks                     10          10
approach is_regularized
fetril   False                 0           0
         True                  0           0

dataset                 cifar100 imagenet100
num_tasks                     10          10
approach is_regularized
fetril   False                 0           0
         True                  0           0

In [29]:
allinone = pd.concat(
    [
        finetuning_ewc_resnet,
        finetuning_ewc_convnext,
        big_all,
        lwf_replay,
        fetril,
        big_task_fetril,
        df_noreg,
    ],
    axis=0,
)

/var/folders/7p/77w4_2b565n0b8phw5c6dvtm0000gp/T/ipykernel_57596/1657574346.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  allinone = pd.concat(

In [40]:
big_all = allinone[allinone["is_big_task"]]
no_big_all = allinone[~allinone["is_big_task"]]

In [214]:
resnet = pd.pivot_table(
    no_big_all[no_big_all["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
resnet
convnext = pd.pivot_table(
    no_big_all[no_big_all["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
convnext

dataset                      cifar100                         imagenet100  \
num_tasks                          5           10          20          10
approach   is_regularized
ewc        False           23.10Â±0.51  12.22Â±0.11   4.91Â±2.37  13.73Â±0.16
           True            27.21Â±0.34  11.35Â±3.13   6.04Â±2.99  21.09Â±0.54
fetril     False           54.87Â±1.18  41.15Â±1.99  29.46Â±1.74  49.88Â±0.77
           True            60.34Â±0.56  47.60Â±1.08  38.10Â±0.57  55.59Â±0.07
finetuning False           20.55Â±0.35  11.54Â±0.10   5.03Â±0.61  11.52Â±0.12
           True            23.62Â±0.21  11.97Â±1.82   6.39Â±2.79  14.93Â±0.19
lwf        False           39.26Â±0.24  25.45Â±0.97  16.89Â±0.73  35.47Â±0.99
           True            37.07Â±1.74  25.48Â±0.72  17.12Â±0.00  35.66Â±0.55
replay     False           40.63Â±0.89  35.42Â±2.32  31.60Â±1.55  38.59Â±0.72
           True            42.13Â±0.78  37.82Â±1.12  34.96Â±0.97  39.99Â±0.34

dataset
num_tasks                          20
approach   is_regularized
ewc        False            7.01Â±0.12
           True            11.83Â±0.06
fetril     False           37.84Â±0.53
           True            44.15Â±1.19
finetuning False            6.08Â±0.24
           True             9.21Â±0.47
lwf        False           19.61Â±0.38
           True            19.40Â±0.34
replay     False           35.00Â±1.76
           True            36.90Â±0.09

dataset                      cifar100                         imagenet100  \
num_tasks                          5           10          20          10
approach   is_regularized
ewc        False           29.57Â±0.03  16.92Â±0.55   8.87Â±0.53  21.65Â±0.70
           True            29.05Â±1.21  17.02Â±0.69  10.26Â±0.07  21.60Â±0.70
fetril     False           39.93Â±1.82  31.75Â±1.86  27.74Â±0.95  34.79Â±1.97
           True            46.85Â±0.61  37.99Â±1.90  32.69Â±0.66  39.31Â±0.65
finetuning False           26.21Â±0.69  15.31Â±0.37   8.19Â±0.27  17.29Â±0.30
           True            24.09Â±0.86  13.65Â±0.77   8.83Â±0.10  16.23Â±0.69
lwf        False           40.70Â±0.09  29.83Â±0.21  23.01Â±0.87  43.73Â±0.46
           True            44.52Â±0.66  31.38Â±1.02  21.58Â±0.38         NaN
replay     False           34.53Â±0.25  28.59Â±0.13  25.42Â±0.25  34.55Â±0.86
           True            34.73Â±0.85  27.91Â±0.63  26.06Â±0.55  34.13Â±0.79

dataset
num_tasks                          20
approach   is_regularized
ewc        False           10.81Â±0.39
           True            11.85Â±0.20
fetril     False           23.62Â±1.69
           True            31.18Â±1.68
finetuning False            7.37Â±0.01
           True             8.00Â±0.61
lwf        False           29.60Â±0.71
           True                   NaN
replay     False           29.78Â±0.74
           True                   NaN

In [52]:
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                      cifar100 imagenet100
approach   is_regularized
ewc        False           22.94Â±0.60  21.03Â±0.66
           True            28.94Â±0.59  34.05Â±0.41
fetril     False           64.73Â±0.83  73.50Â±0.80
           True            67.60Â±0.51  74.84Â±0.94
finetuning False           19.54Â±0.58  18.94Â±0.31
           True            24.55Â±0.84  24.78Â±0.79
lwf        False           42.16Â±0.80  53.53Â±0.62
           True            42.67Â±0.45  54.19Â±0.25
replay     False           42.69Â±0.55  47.09Â±0.89
           True            44.95Â±0.28  49.58Â±0.65

dataset                      cifar100 imagenet100
approach   is_regularized
ewc        False           18.09Â±0.62  16.68Â±1.22
           True            39.03Â±0.88  51.32Â±0.92
fetril     False           42.48Â±1.57  33.97Â±7.95
           True            50.26Â±0.53  50.99Â±2.65
finetuning False           19.20Â±0.97  14.90Â±1.67
           True            31.09Â±1.20  38.59Â±1.20
lwf        False           44.58Â±0.65         NaN
           True            44.34Â±0.56         NaN
replay     False           36.21Â±0.74  42.98Â±0.48
           True            36.62Â±0.77  44.75Â±0.65

In [ ]:
# allinone["dataset"] = allinone["dataset"].replace(
#         {
#             "cifar100_fixed": "cifar100",
#             "imagenet_subset_kaggle": "imagenet100",
#         }
#     )

In [96]:
resnet = pd.pivot_table(
    no_big_all[no_big_all["network"].str.contains("resnet")],
    index=[
        "approach",
        "is_regularized",
    ],
    columns=["dataset", "num_tasks", "seed"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
resnet
convnext = pd.pivot_table(
    no_big_all[no_big_all["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
convnext

dataset                   cifar100                                          \
num_tasks                       5                       10
seed                             0       1       2       0       1       2
approach   is_regularized
ewc        False            23.690  22.440  23.160  12.190  12.100  12.370
           True             27.140  26.830  27.660  15.700   8.470   9.870
fetril     False            54.510  53.636  56.462  39.303  40.225  43.920
           True             60.006  59.896  61.128  46.776  46.906  49.129
finetuning False            20.880  20.690  20.070  11.690  11.450  11.490
           True             23.400  23.550  23.910  14.350   9.920  11.630
lwf        False            39.450  39.400  38.920  26.450  24.140  25.750
           True             37.740  34.680  38.780  26.050  25.920  24.460
replay     False            41.240  41.280  39.370  37.500  32.190  36.570
           True             43.020  41.130  42.250  39.170  37.860  36.430

dataset                                             imagenet100          \
num_tasks                       20                           10
seed                             0       1        2           0       1
approach   is_regularized
ewc        False            6.3200   1.570   6.8500      13.520  13.760
           True             2.0500   9.240   6.8300      21.800  20.480
fetril     False           31.6765  29.273  27.4285      49.392  49.283
           True            38.5875  38.407  37.2985      55.688  55.558
finetuning False            5.2500   4.200   5.6500      11.560  11.640
           True             2.5200   9.010   7.6300      14.800  15.200
lwf        False           17.6200     NaN  16.1600      34.180  36.600
           True                NaN     NaN  17.1200      36.260  34.940
replay     False           33.4300  29.650  31.7200      37.600  39.280
           True            35.9700  33.660  35.2600      40.120  39.520

dataset
num_tasks                               20
seed                            2        0       1        2
approach   is_regularized
ewc        False           13.920   6.9600   7.180   6.9000
           True            20.980  11.8400  11.760  11.9000
fetril     False           50.960  38.1445  37.104  38.2860
           True            55.532  43.8415  42.877  45.7335
finetuning False           11.360   6.3800   5.780   6.0800
           True            14.780   9.8400   9.060   8.7200
lwf        False           35.620  20.1400  19.420  19.2800
           True            35.780  19.0000  19.840  19.3600
replay     False           38.900  37.4600  34.060  33.4800
           True            40.320  37.0200  36.800  36.8800

dataset                      cifar100                         imagenet100  \
num_tasks                          5           10          20          10
approach   is_regularized
ewc        False           29.57Â±0.03  16.92Â±0.55   8.87Â±0.53  21.65Â±0.70
           True            29.05Â±1.21  17.02Â±0.69  10.26Â±0.07  21.60Â±0.70
fetril     False           39.93Â±1.82  31.75Â±1.86  27.74Â±0.95  34.79Â±1.97
           True            46.85Â±0.61  37.99Â±1.90  32.69Â±0.66  39.31Â±0.65
finetuning False           26.21Â±0.69  15.31Â±0.37   8.19Â±0.27  17.29Â±0.30
           True            24.09Â±0.86  13.65Â±0.77   8.83Â±0.10  16.23Â±0.69
lwf        False           40.70Â±0.09  29.83Â±0.21  23.01Â±0.87  43.73Â±0.46
           True            44.52Â±0.66  31.38Â±1.02  21.58Â±0.38         NaN
replay     False           34.53Â±0.25  28.59Â±0.13  25.42Â±0.25  34.55Â±0.86
           True            34.73Â±0.85  27.91Â±0.63  26.06Â±0.55  34.13Â±0.79

dataset
num_tasks                          20
approach   is_regularized
ewc        False           10.81Â±0.39
           True            11.85Â±0.20
fetril     False           23.62Â±1.69
           True            31.18Â±1.68
finetuning False            7.37Â±0.01
           True             8.00Â±0.61
lwf        False           29.60Â±0.71
           True                   NaN
replay     False           29.78Â±0.74
           True                   NaN

In [290]:
def seed_wise_differcence(df):

    avg_acc = (
        df.groupby(["approach", "dataset", "num_tasks", "seed", "is_regularized"])[
            "avg_acc_tag"
        ]
        .agg(lambda x: x)
        .unstack()
    )
    avg_acc["difference"] = avg_acc[True] - avg_acc[False]
    avg_acc.reset_index(inplace=True)
    new_rows = avg_acc[
        ["approach", "dataset", "num_tasks", "seed", "difference"]
    ].copy()
    new_rows["is_regularized"] = "agg"  # Set is_regularized to 'add'
    new_rows["avg_acc_tag"] = new_rows[
        "difference"
    ]  # Set avg_acc_tag to the difference
    new_rows = new_rows[
        ["approach", "is_regularized", "dataset", "num_tasks", "avg_acc_tag", "seed"]
    ]
    df_final = pd.concat([df, new_rows], ignore_index=True)
    return df_final

In [297]:
big_all = allinone[allinone["is_big_task"]]
no_big_all = allinone[~allinone["is_big_task"]]

convnext_nobig = seed_wise_differcence(
    no_big_all[no_big_all["network"].str.contains("convnext")]
)
resnet_nobig = seed_wise_differcence(
    no_big_all[no_big_all["network"].str.contains("resnet")]
)
convnext_big = seed_wise_differcence(
    big_all[big_all["network"].str.contains("convnext")]
)
resnet_big = seed_wise_differcence(big_all[big_all["network"].str.contains("resnet")])

In [298]:
pd.pivot_table(
    resnet_nobig,
    index=[
        "approach",
        "is_regularized",
    ],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)

dataset                      cifar100                         imagenet100  \
num_tasks                          5           10          20          10
approach   is_regularized
ewc        False           23.10Â±0.51  12.22Â±0.11   4.91Â±2.37  13.73Â±0.16
           True            27.21Â±0.34  11.35Â±3.13   6.04Â±2.99  21.09Â±0.54
           agg              4.11Â±0.47  -0.87Â±3.13   1.13Â±4.94   7.35Â±0.67
fetril     False           54.87Â±1.18  41.15Â±1.99  29.46Â±1.74  49.88Â±0.77
           True            60.34Â±0.56  47.60Â±1.08  38.10Â±0.57  55.59Â±0.07
           agg              5.47Â±0.65   6.45Â±0.94   8.64Â±1.26   5.71Â±0.81
finetuning False           20.55Â±0.35  11.54Â±0.10   5.03Â±0.61  11.52Â±0.12
           True            23.62Â±0.21  11.97Â±1.82   6.39Â±2.79  14.93Â±0.19
           agg              3.07Â±0.56   0.42Â±1.72   1.35Â±3.11   3.41Â±0.13
lwf        False           39.26Â±0.24  25.45Â±0.97  16.89Â±0.73  35.47Â±0.99
           True            37.07Â±1.74  25.48Â±0.72  17.12Â±0.00  35.66Â±0.55
           agg             -2.19Â±1.90   0.03Â±1.29   0.96Â±0.00   0.19Â±1.53
replay     False           40.63Â±0.89  35.42Â±2.32  31.60Â±1.55  38.59Â±0.72
           True            42.13Â±0.78  37.82Â±1.12  34.96Â±0.97  39.99Â±0.34
           agg              1.50Â±1.25   2.40Â±2.43   3.36Â±0.61   1.39Â±0.93

dataset
num_tasks                          20
approach   is_regularized
ewc        False            7.01Â±0.12
           True            11.83Â±0.06
           agg              4.82Â±0.18
fetril     False           37.84Â±0.53
           True            44.15Â±1.19
           agg              6.31Â±0.81
finetuning False            6.08Â±0.24
           True             9.21Â±0.47
           agg              3.13Â±0.35
lwf        False           19.61Â±0.38
           True            19.40Â±0.34
           agg             -0.21Â±0.67
replay     False           35.00Â±1.76
           True            36.90Â±0.09
           agg              1.90Â±1.68

In [299]:
pd.pivot_table(
    convnext_nobig,
    index=[
        "approach",
        "is_regularized",
    ],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)

dataset                      cifar100                         imagenet100  \
num_tasks                          5           10          20          10
approach   is_regularized
ewc        False           29.57Â±0.03  16.92Â±0.55   8.87Â±0.53  21.65Â±0.70
           True            29.05Â±1.21  17.02Â±0.69  10.26Â±0.07  21.60Â±0.70
           agg             -0.52Â±1.23   0.10Â±1.18   1.38Â±0.59  -0.05Â±0.56
fetril     False           39.93Â±1.82  31.75Â±1.86  27.74Â±0.95  34.79Â±1.97
           True            46.85Â±0.61  37.99Â±1.90  32.69Â±0.66  39.31Â±0.65
           agg              6.91Â±1.59   6.25Â±0.52   4.94Â±1.60   4.52Â±1.40
finetuning False           26.21Â±0.69  15.31Â±0.37   8.19Â±0.27  17.29Â±0.30
           True            24.09Â±0.86  13.65Â±0.77   8.83Â±0.10  16.23Â±0.69
           agg             -2.12Â±1.14  -1.66Â±0.57   0.64Â±0.33  -1.05Â±0.45
lwf        False           40.70Â±0.09  29.83Â±0.21  23.01Â±0.87  43.73Â±0.46
           True            44.52Â±0.66  31.38Â±1.02  21.58Â±0.38         NaN
           agg              3.82Â±0.74   1.54Â±1.18  -1.43Â±0.82     nanÂ±nan
replay     False           34.53Â±0.25  28.59Â±0.13  25.42Â±0.25  34.55Â±0.86
           True            34.73Â±0.85  27.91Â±0.63  26.06Â±0.55  34.13Â±0.79
           agg              0.20Â±0.64  -0.68Â±0.60   0.64Â±0.81  -0.43Â±0.59

dataset
num_tasks                          20
approach   is_regularized
ewc        False           10.81Â±0.39
           True            11.85Â±0.20
           agg              1.04Â±0.20
fetril     False           23.62Â±1.69
           True            31.18Â±1.68
           agg              7.55Â±1.46
finetuning False            7.37Â±0.01
           True             8.00Â±0.61
           agg              0.63Â±0.61
lwf        False           29.60Â±0.71
           True                   NaN
           agg                nanÂ±nan
replay     False           29.78Â±0.74
           True                   NaN
           agg                nanÂ±nan

In [302]:
pd.pivot_table(
    resnet_big,
    index=[
        "approach",
        "is_regularized",
    ],
    columns=["dataset"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)

dataset                      cifar100 imagenet100
approach   is_regularized
ewc        False           22.94Â±0.60  21.03Â±0.66
           True            28.94Â±0.59  34.05Â±0.41
           agg              6.01Â±0.87  13.02Â±1.01
fetril     False           64.73Â±0.83  73.50Â±0.80
           True            67.60Â±0.51  74.84Â±0.94
           agg              2.87Â±1.14   1.34Â±0.29
finetuning False           19.54Â±0.58  18.94Â±0.31
           True            24.55Â±0.84  24.78Â±0.79
           agg              5.01Â±0.92   5.84Â±0.64
lwf        False           42.16Â±0.80  53.53Â±0.62
           True            42.67Â±0.45  54.19Â±0.25
           agg              0.51Â±1.06   0.66Â±0.65
replay     False           42.69Â±0.55  47.09Â±0.89
           True            44.95Â±0.28  49.58Â±0.65
           agg              2.26Â±0.45   2.49Â±0.36

In [301]:
pd.pivot_table(
    convnext_big,
    index=[
        "approach",
        "is_regularized",
    ],
    columns=["dataset"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)

dataset                      cifar100 imagenet100
approach   is_regularized
ewc        False           18.09Â±0.62  16.68Â±1.22
           True            39.03Â±0.88  51.32Â±0.92
           agg             20.94Â±1.46  34.64Â±1.96
fetril     False           42.48Â±1.57  33.97Â±7.95
           True            50.26Â±0.53  50.99Â±2.65
           agg              7.78Â±2.04  17.02Â±7.43
finetuning False           19.20Â±0.97  14.90Â±1.67
           True            31.09Â±1.20  38.59Â±1.20
           agg             11.89Â±0.40  23.68Â±2.56
lwf        False           44.58Â±0.65         NaN
           True            44.34Â±0.56         NaN
           agg             -0.24Â±0.18         NaN
replay     False           36.21Â±0.74  42.98Â±0.48
           True            36.62Â±0.77  44.75Â±0.65
           agg              0.41Â±0.40   1.77Â±0.77