In [6]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [7]:
import core
import pandas as pd
import numpy as np

In [8]:
all_df = pd.read_csv("all.csv")
df_noreg = all_df[all_df["is_regularized"] == False]
df_noreg["is_big_task"] = False
df_noreg["dataset"] = df_noreg["dataset"].replace(
    {
        "cifar100_fixed": "cifar100",
        "imagenet100_subset_kaggle": "imagenet100",
    }
)

/var/folders/7p/77w4_2b565n0b8phw5c6dvtm0000gp/T/ipykernel_57596/3821391423.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_noreg["is_big_task"] = False
/var/folders/7p/77w4_2b565n0b8phw5c6dvtm0000gp/T/ipykernel_57596/3821391423.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_noreg["dataset"] = df_noreg["dataset"].replace(

In [23]:
finetuning_ewc_resnet, failed_runs, not_finished_runs = core.get_df_cl("01.20", 8)
len(failed_runs)
len(not_finished_runs)
finetuning_ewc_resnet.shape


finetuning_ewc_resnet = finetuning_ewc_resnet[
    (finetuning_ewc_resnet["network"].str.contains("resnet"))
    & (finetuning_ewc_resnet["approach"].isin(["finetuning", "ewc"]))
]

1

0

(119, 86)

In [24]:
finetuning_ewc_convnext, failed_runs, not_finished_runs = core.get_df_cl("01.20", 8)
len(failed_runs)
len(not_finished_runs)
finetuning_ewc_convnext.shape

finetuning_ewc_convnext = finetuning_ewc_convnext[
    (finetuning_ewc_convnext["network"].str.contains("convnext"))
    & (finetuning_ewc_convnext["approach"].isin(["finetuning", "ewc"]))
]

1

0

(119, 86)

In [11]:
big_all_or_lwf_replay, failed_runs, not_finished_runs = core.get_df_cl("01.28", 8)
len(failed_runs)
len(not_finished_runs)
big_all_or_lwf_replay.shape

big_all = big_all_or_lwf_replay[big_all_or_lwf_replay["is_big_task"]]
lwf_replay = big_all_or_lwf_replay[~big_all_or_lwf_replay["is_big_task"]]

2

15

(139, 86)

In [12]:
reg_fetril, failed_runs, not_finished_runs = core.get_df_pycil(
    "pycil-01.28-seed-fetril"
)
len(failed_runs)
reg_fetril.shape
noreg_fetril, failed_runs, not_finished_runs = core.get_df_pycil("pycil-01.27-new")
len(failed_runs)
noreg_fetril.shape
noreg_fetril = noreg_fetril[noreg_fetril["approach"] == "fetril"]

fetril = pd.concat([reg_fetril, noreg_fetril], axis=0)

big_task_fetril, failed_runs, not_finished_runs = core.get_df_pycil(
    "pycil-01.28-big_task"
)
len(failed_runs)
big_task_fetril.shape

0

(30, 38)

38

(54, 41)

0

(24, 38)

In [27]:
pivot_table = pd.pivot_table(
    finetuning_ewc_resnet[finetuning_ewc_resnet["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100       imagenet100
num_tasks                       5  10 20          10 20
approach   is_regularized
ewc        True                  0  0  0           0  0
finetuning True                  0  0  0           0  0

In [28]:
pivot_table = pd.pivot_table(
    finetuning_ewc_convnext[
        finetuning_ewc_convnext["network"].str.contains("convnext")
    ],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100       imagenet100
num_tasks                       5  10 20          10 20
approach   is_regularized
ewc        True                  0  0  0           0  0
finetuning True                  0  0  0           0  0

In [15]:
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100 imagenet100
num_tasks                        6           6
approach   is_regularized
ewc        False                 0           0
           True                  0           0
finetuning False                 0           0
           True                  0           0
lwf        False                 0           0
           True                  0           0
replay     False                 0           0
           True                  0           0

dataset                   cifar100 imagenet100
num_tasks                        6           6
approach   is_regularized
ewc        False               0.0         0.0
           True                0.0         0.0
finetuning False               0.0         0.0
           True                0.0         0.0
lwf        False               0.0         NaN
           True                0.0         NaN
replay     False               0.0         0.0
           True                0.0         0.0

In [16]:
pivot_table = pd.pivot_table(
    lwf_replay[lwf_replay["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    lwf_replay[lwf_replay["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                 cifar100       imagenet100
num_tasks                     5  10 20          10 20
approach is_regularized
lwf      True                  0  0 -2           0  0
replay   True                  0  0  0           0  0

dataset                 cifar100           imagenet100
num_tasks                     5    10   20          10
approach is_regularized
lwf      True                0.0  0.0  0.0         NaN
replay   True                0.0  0.0  0.0         0.0

In [17]:
pivot_table = pd.pivot_table(
    df_noreg[df_noreg["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    df_noreg[df_noreg["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                   cifar100       imagenet_subset_kaggle
num_tasks                       5  10 20                     10 20
approach   is_regularized
ewc        False                 0  0  0                      0  0
finetuning False                 0  0  0                      0  0
lwf        False                 0  0  0                      0  0
replay     False                 0  0  0                      0  0

dataset                   cifar100       imagenet_subset_kaggle
num_tasks                       5  10 20                     10 20
approach   is_regularized
ewc        False                 0  0  0                      0  0
finetuning False                 0  0  0                      0  0
lwf        False                 0  0  0                      0  0
replay     False                 0  0  0                      0  0

In [18]:
pivot_table = pd.pivot_table(
    fetril[fetril["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    fetril[fetril["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                 cifar100       imagenet100
num_tasks                     5  10 20          10 20
approach is_regularized
fetril   False                 0  0  0           0  0
         True                  0  0  0           0  0

dataset                 cifar100       imagenet100
num_tasks                     5  10 20          10 20
approach is_regularized
fetril   False                 0  0  0           0  0
         True                  0  0  0           0  0

In [19]:
pivot_table = pd.pivot_table(
    big_task_fetril[big_task_fetril["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    big_task_fetril[big_task_fetril["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    aggfunc=lambda x: len(x) - 3,
    # aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                 cifar100 imagenet100
num_tasks                     10          10
approach is_regularized
fetril   False                 0           0
         True                  0           0

dataset                 cifar100 imagenet100
num_tasks                     10          10
approach is_regularized
fetril   False                 0           0
         True                  0           0

In [29]:
allinone = pd.concat(
    [
        finetuning_ewc_resnet,
        finetuning_ewc_convnext,
        big_all,
        lwf_replay,
        fetril,
        big_task_fetril,
        df_noreg,
    ],
    axis=0,
)

/var/folders/7p/77w4_2b565n0b8phw5c6dvtm0000gp/T/ipykernel_57596/1657574346.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  allinone = pd.concat(

In [40]:
big_all = allinone[allinone["is_big_task"]]
no_big_all = allinone[~allinone["is_big_task"]]

In [54]:
resnet = pd.pivot_table(
    no_big_all[no_big_all["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks", "seed"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
resnet
convnext = pd.pivot_table(
    no_big_all[no_big_all["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset", "num_tasks"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
convnext

dataset                      cifar100                                      \
num_tasks                          5                                   10
seed                                0           1           2           0
approach   is_regularized
ewc        False           23.69Â±0.00  22.44Â±0.00  23.16Â±0.00  12.19Â±0.00
           True            27.14Â±0.00  26.83Â±0.00  27.66Â±0.00  15.70Â±0.00
fetril     False           54.51Â±0.00  53.64Â±0.00  56.46Â±0.00  39.30Â±0.00
           True            60.01Â±0.00  59.90Â±0.00  61.13Â±0.00  46.78Â±0.00
finetuning False           20.88Â±0.00  20.69Â±0.00  20.07Â±0.00  11.69Â±0.00
           True            23.40Â±0.00  23.55Â±0.00  23.91Â±0.00  14.35Â±0.00
lwf        False           39.45Â±0.00  39.40Â±0.00  38.92Â±0.00  26.45Â±0.00
           True            37.74Â±0.00  34.68Â±0.00  38.78Â±0.00  26.05Â±0.00
replay     False           41.24Â±0.00  41.28Â±0.00  39.37Â±0.00  37.50Â±0.00
           True            43.02Â±0.00  41.13Â±0.00  42.25Â±0.00  39.17Â±0.00

dataset                                                                    \
num_tasks                                                  20
seed                                1           2           0           1
approach   is_regularized
ewc        False           12.10Â±0.00  12.37Â±0.00   6.32Â±0.00   1.57Â±0.00
           True             8.47Â±0.00   9.87Â±0.00   2.05Â±0.00   9.24Â±0.00
fetril     False           40.23Â±0.00  43.92Â±0.00  31.68Â±0.00  29.27Â±0.00
           True            46.91Â±0.00  49.13Â±0.00  38.59Â±0.00  38.41Â±0.00
finetuning False           11.45Â±0.00  11.49Â±0.00   5.25Â±0.00   4.20Â±0.00
           True             9.92Â±0.00  11.63Â±0.00   2.52Â±0.00   9.01Â±0.00
lwf        False           24.14Â±0.00  25.75Â±0.00  17.62Â±0.00     nanÂ±nan
           True            25.92Â±0.00  24.46Â±0.00         NaN         NaN
replay     False           32.19Â±0.00  36.57Â±0.00  33.43Â±0.00  29.65Â±0.00
           True            37.86Â±0.00  36.43Â±0.00  35.97Â±0.00  33.66Â±0.00

dataset                               imagenet100                          \
num_tasks                                      10
seed                                2           0           1           2
approach   is_regularized
ewc        False            6.85Â±0.00  13.52Â±0.00  13.76Â±0.00  13.92Â±0.00
           True             6.83Â±0.00  21.80Â±0.00  20.48Â±0.00  20.98Â±0.00
fetril     False           27.43Â±0.00  49.39Â±0.00  49.28Â±0.00  50.96Â±0.00
           True            37.30Â±0.00  55.69Â±0.00  55.56Â±0.00  55.53Â±0.00
finetuning False            5.65Â±0.00  11.56Â±0.00  11.64Â±0.00  11.36Â±0.00
           True             7.63Â±0.00  14.80Â±0.00  15.20Â±0.00  14.78Â±0.00
lwf        False           16.16Â±0.00  34.18Â±0.00  36.60Â±0.00  35.62Â±0.00
           True            17.12Â±0.00  36.26Â±0.00  34.94Â±0.00  35.78Â±0.00
replay     False           31.72Â±0.00  37.60Â±0.00  39.28Â±0.00  38.90Â±0.00
           True            35.26Â±0.00  40.12Â±0.00  39.52Â±0.00  40.32Â±0.00

dataset
num_tasks                          20
seed                                0           1           2
approach   is_regularized
ewc        False            6.96Â±0.00   7.18Â±0.00   6.90Â±0.00
           True            11.84Â±0.00  11.76Â±0.00  11.90Â±0.00
fetril     False           38.14Â±0.00  37.10Â±0.00  38.29Â±0.00
           True            43.84Â±0.00  42.88Â±0.00  45.73Â±0.00
finetuning False            6.38Â±0.00   5.78Â±0.00   6.08Â±0.00
           True             9.84Â±0.00   9.06Â±0.00   8.72Â±0.00
lwf        False           20.14Â±0.00  19.42Â±0.00  19.28Â±0.00
           True            19.00Â±0.00  19.84Â±0.00  19.36Â±0.00
replay     False           37.46Â±0.00  34.06Â±0.00  33.48Â±0.00
           True            37.02Â±0.00  36.80Â±0.00  36.88Â±0.00

dataset                      cifar100                         imagenet100  \
num_tasks                          5           10          20          10
approach   is_regularized
ewc        False           29.57Â±0.03  16.92Â±0.55   8.87Â±0.53  21.65Â±0.70
           True            29.05Â±1.21  17.02Â±0.69  10.26Â±0.07  21.60Â±0.70
fetril     False           39.93Â±1.82  31.75Â±1.86  27.74Â±0.95  34.79Â±1.97
           True            46.85Â±0.61  37.99Â±1.90  32.69Â±0.66  39.31Â±0.65
finetuning False           26.21Â±0.69  15.31Â±0.37   8.19Â±0.27  17.29Â±0.30
           True            24.09Â±0.86  13.65Â±0.77   8.83Â±0.10  16.23Â±0.69
lwf        False           40.70Â±0.09  29.83Â±0.21  23.01Â±0.87  43.73Â±0.46
           True            44.52Â±0.66  31.38Â±1.02  21.58Â±0.38         NaN
replay     False           34.53Â±0.25  28.59Â±0.13  25.42Â±0.25  34.55Â±0.86
           True            34.73Â±0.85  27.91Â±0.63  26.06Â±0.55  34.13Â±0.79

dataset
num_tasks                          20
approach   is_regularized
ewc        False           10.81Â±0.39
           True            11.85Â±0.20
fetril     False           23.62Â±1.69
           True            31.18Â±1.68
finetuning False            7.37Â±0.01
           True             8.00Â±0.61
lwf        False           29.60Â±0.71
           True                   NaN
replay     False           29.78Â±0.74
           True                   NaN

In [52]:
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("resnet")],
    index=["approach", "is_regularized"],
    columns=["dataset"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table
pivot_table = pd.pivot_table(
    big_all[big_all["network"].str.contains("convnext")],
    index=["approach", "is_regularized"],
    columns=["dataset"],
    values="avg_acc_tag",
    # aggfunc=lambda x: len(x) - 3,
    aggfunc=lambda x: f"{np.mean(x):.2f}Â±{np.std(x):.2f}",
    # fill_value=0,
)
pivot_table

dataset                      cifar100 imagenet100
approach   is_regularized
ewc        False           22.94Â±0.60  21.03Â±0.66
           True            28.94Â±0.59  34.05Â±0.41
fetril     False           64.73Â±0.83  73.50Â±0.80
           True            67.60Â±0.51  74.84Â±0.94
finetuning False           19.54Â±0.58  18.94Â±0.31
           True            24.55Â±0.84  24.78Â±0.79
lwf        False           42.16Â±0.80  53.53Â±0.62
           True            42.67Â±0.45  54.19Â±0.25
replay     False           42.69Â±0.55  47.09Â±0.89
           True            44.95Â±0.28  49.58Â±0.65

dataset                      cifar100 imagenet100
approach   is_regularized
ewc        False           18.09Â±0.62  16.68Â±1.22
           True            39.03Â±0.88  51.32Â±0.92
fetril     False           42.48Â±1.57  33.97Â±7.95
           True            50.26Â±0.53  50.99Â±2.65
finetuning False           19.20Â±0.97  14.90Â±1.67
           True            31.09Â±1.20  38.59Â±1.20
lwf        False           44.58Â±0.65         NaN
           True            44.34Â±0.56         NaN
replay     False           36.21Â±0.74  42.98Â±0.48
           True            36.62Â±0.77  44.75Â±0.65

In [ ]:
# allinone["dataset"] = allinone["dataset"].replace(
#         {
#             "cifar100_fixed": "cifar100",
#             "imagenet_subset_kaggle": "imagenet100",
#         }
#     )